{:paths ["src/clj" "resources"]
 :deps {ring/ring-core {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter {:mvn/version "1.11.0"}
        ring/ring-json {:mvn/version "0.5.1"}
        compojure/compojure {:mvn/version "1.7.1"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
        org.xerial/sqlite-jdbc {:mvn/version "3.45.1.0"}}
 :aliases
 {:play {:main-opts ["-m" "daw.core"]}
  :export {:exec-fn daw.core/export-wav
           :exec-args {:filename "output.wav"}}
  :server {:main-opts ["-m" "daw.server"]}}}
